services:
    app:
        build:
            context: ../
            dockerfile: deploy/Dockerfile
        env_file: ../.env
        ports:
            - "8080:8080"
        restart: on-failure
        depends_on:
            db:
                condition: service_healthy
        networks:
            - app-network

    db:
        image: postgres:17-alpine
        restart: always
        env_file: ../.env
        ports:
            - "5432:5432"
        # without mounting for simplicity in internship task
        healthcheck:
            test:
                [
                    "CMD-SHELL",
                    "pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB}",
                ]
            interval: 5s
            timeout: 5s
            retries: 5
        networks:
            - app-network


networks:
    app-network:
        driver: bridge
